{
  "presets": ["es2015"],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {
          "ignore": [
            "*.+(unit|spec|mock|stub).*",
            "test/**/*"
		  ]
		}]
      ]
	}
  }
}
